body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("../images/lego-batman-background4.jpg");
  }
  header {
    font-size: 50px;
    text-align: left;
    padding: 20px;
  }
  .characterWrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  #gameMessage {
    text-align: center;
    font-size: 10px;
  }
  #choose-enemy-button {
    visibility: hidden;
  }
  #restart-button {
    visibility: hidden;
  }
  #turn-counter {
    font-size: 150%;
  }
  #character-section {
    align-content: center;
    padding: 50px;
  }
  #fight-section {
    width: 300px;
  }

  /*Character*/

  .character {
    width: 153px;
    margin: 0px 80px 0px 40px;
    cursor: pointer;
    display: inline-block;
    margin-center: auto;
  }
  .character img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
  }
  .character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: yellow;
  }
  .character-health {
    text-align: center;
    color: yellow;
  }
  

  /*Attack*/
  
  .attack {
    text-align: center;
  }
  .action {
    margin: 15px 0px;
  }
  #attack-button{
      visibility: hidden;
  }
  .btn {
      background:black;
      color: yellow;	
  
  }
  .enemy {
      width: 153px;
      margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    background-color: red;
    float: left;
  }
  #attacker {
      padding: 5px;
  }
  .target-enemy {
    color: white;
  }
  
  
  /*Opponents*/
  
  #available-to-attack-section {
    float: right;
  }
  #available-to-attack-section img {
      height: 100px;
  }
  
  
  /*Defender*/
  
  #defender-name {
    text-align: center;
  }
  #defender-image {
    padding: 0px 16px;
    margin: 3px 0px;
  }
  #defender-health {
    text-align: center;
  }
  
 /*Media*/
 
  @media only screen and (max-device-width: 768px) {
    .character {
      display: block;
    height: 150px;    
    }
    #gameMessage {
    font-size: 12px;
    }
  }
  